
<div *ngIf="cart.length < 1" class="emptyCart">Your cart is empty</div>
<div id="productLineContainer">
    <div *ngFor="let item of cart" class="productLine">
        <div class="nbProduct">
            x{{item.nb}}
        </div>
        <div class="productImg" [style.background-image]="'url('+item.product.url+')'"></div>
        <div class="productTitle">
            {{item.product.title}}
        </div>
        <div class="removeLine" (click)="removeProductLine(item)" >
            <span>REMOVE</span>
        </div>
    </div>
</div>
