#productsContainer{
    display: flex;
    flex-flow: row wrap;
    align-content:center;
    align-items: center;
    justify-content: center;
}

.tuile{
    width: 25%;
    min-width: 400px;
    height: 400px;
    margin: 1%;
    border: solid gray 1px;
}

.productImg{
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.productName{
    text-align: center;
    padding-top:23px;
    font-weight: bold;
    color:#3c3575;
    font-size: 25px;
}

.productTitle{
    text-align: center;
    padding:23px 0 23px 0;
    color:#3c3575;
}

.addProductBtn{
    text-align: center;
    width: 150px;
    background-color: #3c3575;
    margin: auto;
    height: 40px;
    padding-top: 20px;
    color:whitesmoke;
}